<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Olith Bank</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div class="menu">
            <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
            </button>
        </div>
    <div class="container">
        <nav>
            <section class="top">
                <div class="logo">
                    <span class="material-icons-sharp md-24">
                        leaderboard
                    </span>
                    <h1>Olith Bank</h1>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </section>
            <section class="sidebar">
                <a asp-page="/Index" class="anchor">
                    <img class="icons" src="./Images/home.png" alt="Home">
                    <h3>Home</h3>
                </a>
                <a  asp-page="/Transactions" class="anchor">
                    <img class="icons" src="./Images/transfer.png" alt="Transactions">
                    <h3>Transactions</h3>
                </a>
            </section>
        </nav>

        @RenderBody()


    </div>









    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
