@page
@model Money_Transaction.Pages.TransferMoneyModel
@{
    ViewData["Title"] = "Transfer";

}



<main>
    <h2>Transfer Money</h2>
    <h3 class="tex-muted" style="margin-top: 1rem;">
        Balance: $<b id="balance">32000</b></p>
        <section class="form">
            <form action="post">
                <div class="inputs">
                    <div class="input-card">
                        <div>
                            <p class="text-muted">From:</p>

                        </div>
                        <div class="customer-name sender">
                            <input type="text" name="senderId" value="2000" hidden>
                            <img src="./Images/profile-pic/3.jpg" alt="8" class="profile-img"> Mohamed Sadek
                        </div>
                    </div>

                    <div class="input-card">
                        <div>
                            <p class="text-muted">To:</p>
                        </div>
                        <div class="select-box">
                            <div class="options-container">
                                <div class="option">
                                    <label for="8888" class="customer-name">
                                        <input type="radio" class="radio" name="recieverId" id="8888" value="8888" required />
                                        <img src="./Images/profile-pic/3.jpg" alt="8" class="profile-img"> Mohamed Sadek
                                    </label>
                                </div>


                                <div class="option">
                                    <label for="9999" class="customer-name">
                                        <input type="radio" class="radio" name="recieverId" id="9999" value="9999" required />
                                        <img src="./Images/profile-pic/1.jpg" alt="8" class="profile-img"> Ali Yasser
                                    </label>
                                </div>


                                <div class="option" hidden>
                                    <input type="radio" class="radio" id="tutorials" name="recieverId" hidden />
                                    <label for="tutorials" hidden>Tutorials</label>
                                </div>
                            </div>

                            <div class="customer-name-dropdown">
                                <div class="selected">
                                    <p>Select Reciever</p>
                                </div>
                                <!-- <img src="./Images/down.png" class="icons down" alt=""> -->
                            </div>



                            <div class="search-box">
                                <input type="text" placeholder="search..." />
                            </div>
                        </div>
                    </div>


                </div>

                <div class="inputs">
                    <div class="money-card">
                        <p class="text-muted">You Send</p>
                        <div class="amount">
                            <label for="amount"><h3>$</h3></label>
                            <input type="number" class="input-number" oninput="amountCalc()" id="amount" name="amount"
                                   placeholder="Enter the amount" required>
                        </div>
                    </div>
                    <div>
                        <img src="./Images/reload.png" class="center-img" alt="">
                    </div>
                    <div class="money-card">
                        <p class="text-muted">Recipient Gets</p>
                        <div class="amount">
                            <h3>$</h3>
                            <input type="number" class="input-number" id="recipient" readonly required>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 2.8rem;">
                    <h2>Choose Transaction Type:</h2>
                    <div class="type-input">
                        <div class="radio-buttons">
                            <label class="custom-radio" onclick="amountCalc()">
                                <input type="radio" name="type" value="standard" checked />
                                <span class="radio-btn">
                                    <i class="las la-check"></i>
                                    <div class="hobbies-icon">
                                        <h2>Standard</h2>
                                        <h3>$0.99</h3>
                                    </div>
                                </span>
                            </label>
                            <label class="custom-radio" onclick="amountCalc()">
                                <input type="radio" name="type" value="express" />
                                <span class="radio-btn">
                                    <i class="las la-check"></i>
                                    <div class="hobbies-icon">
                                        <h2>Express</h2>
                                        <h3>$1.50</h3>
                                    </div>
                                </span>
                            </label>
                        </div>
                        <div class="submit-button">
                            <input type="submit" class="submit">
                        </div>

                    </div>


                </div>

            </form>
        </section>
</main>